<ul>
    {% for category in categories %}
        <li class="level-{{ category.level }}{% if category.current %} current{% endif %}{% if category.hasVisibleChildren() %} has-children{% endif %}">
            <a href="{{ url("ongr_category", {'document' : category}) }}">
                {{ category.title }}
            </a>
            {% if category.expanded %}
                {{ renderCategoryTree(category.children) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
