<ul class="nav navbar-nav">
    {% for category in categories %}
        {% if not category.hidden %}
            <li class="{% if category.current or category.expanded %} current{% endif %}">
                <a href="{{ url("ongr_category", {'document' : category}) }}">{{ category.title }}</a>
                {% if category.hasVisibleChildren %}
                    {{ renderCategoryTree(category.children) }}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
