{% extends "ONGRDemoBundle::layout.html.twig" %}

{% block breadcrumbs %}{% endblock %}

{% block content_wrapper %}
    <div class="row">
        <div class="col-sm-12">
            {{ snippet('home-page') }}
        </div>
    </div>
{% endblock %}
