{% extends '::base.html.twig' %}

{% block content_wrapper %}
    <div class="row">
        <div class="col-sm-3">
            {% block sidebar %}
            {% endblock %}
        </div>
        <div class="col-sm-9">
            {% block content %}
                {% block breadcrumbs %}
                    <ol class="breadcrumb">
                        <li><a href="{{ path('onager_demo_homepage') }}">{{ 'Home'|trans }}</a></li>
                        {% block breadcrumbs_inner %}{% endblock %}
                    </ol>
                {% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
