# Composer
/vendor/
/bin/*

# Symfony directories
/phpunit.xml
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
/app/logs/*
/app/check.php
/web/bundles/
/web/css/
/web/js/
/web/images/
/web/fonts/

/bower_components/
/node_modules