<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>
        {% spaceless %}
            {% block title %}{{ "ONGR Demo" | trans }}{% endblock %}
        {% endspaceless %}
    </title>
    {% block stylesheets %}
        {% stylesheets '@demo_css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
        {% endstylesheets %}
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
    {% block metadata_description %}{% endblock %}
    {% block metadata_keywords %}{% endblock %}
    {% block metadata_robots %}{% endblock %}
    {% block facebook_og %}{% endblock %}
</head>
<body{% block body_attributes %}{% endblock %} >
{% block init %}{% endblock %}
{% include "ONGRDemoBundle::Common/topbar.html.twig" %}
<div class="container">
    {% block container %}
        {% block page_head %}
            {% include "ONGRDemoBundle::Common/header.html.twig" %}
        {% endblock %}

        {% block top_navigation %}
            {% include "ONGRDemoBundle::Common/navbar.html.twig" %}
        {% endblock %}
        {% block content_wrapper %}{% endblock %}
    {% endblock %}
</div>
{% include "ONGRDemoBundle::Common/footer.html.twig" %}
{% block javascripts %}
    {% javascripts '@demo_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block html_closures %}{% endblock %}
</body>
</html>
