{% extends 'base.html.twig' %}

{% block content_wrapper %}
    <article>
        <div class="backlit">
            <div class="headline-wrap">
                <i class="edge" style="background: #ff9900"></i>
                <i class="edge-corner" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAABnRSTlMADQAhACXkvTuwAAAAL0lEQVQImWOcGcOAFTCVHFXFLsHAwIBVjglCYcoxwVlockzIHGQ5FAlkOXQJuBwAG0YKl92pFKQAAAAASUVORK5CYII=')"></i>
                <h1>Imprint</h1>
            </div>
            <div class="imprint content-holder">
                <div class="twocol">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p>
                            <strong>.NFQ | Technologies UAB</strong>
                            <br>
                            Brastos St. 15
                            <br>
                            LT-47183 Kaunas
                            <br>
                            Tel. +370 37 333 053
                            <br>
                            E-mail: info@nfq.lt
                            <br>
                            Authorized: Paulius Insoda
                            <br>
                            Company code: 135867375
                            <br>
                            EU VAT ID: LT358673716
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p>
                            <strong>.NFQ | Netzfrequenz GmbH</strong>
                            <br>
                            Bergiusstraße 13
                            <br>
                            86199 Augsburg
                            <br>
                            Tel. +49 821 9000 600
                            <br>
                            E-Mail: info@nfq.de
                            <br>
                            Vertretungsberechtigter: Andreas Stegmann
                            <br>
                            Amtsgericht Augsburg
                            <br>
                            Handelsregisternummer: HRB 17164
                            <br>
                            USt-IdNr.: DE201857729
                        </p>
                    </div>
                </div>
                <p>
                    <strong style="line-height: 1.5em;">Disclaimer</strong>
                </p>
                <p>The contents of this website are created with the utmost care, but the provider cannot guarantee its accuracy, completeness or timeliness. The use of content found on this website is at the user’s own risk. This website contains links to third party websites (“external links”), which are the responsibility of the operator. The provider has no influence on the current and future design and content of linked pages. The inclusion of external links does not mean that the provider adopts the content behind the references or links. Permanent control over external links is not reasonable for the provider without concrete evidence of violations. Subsequent to the knowledge of rights violations, external links will be deleted immediately.</p>
            </div>
        </div>
    </article>
{% endblock %}