parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     ongr
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    # Url
    project_host: ongr.dev

    # Assetic
    java_path: /usr/bin/java

    #Elasticsearch
    es_host: 127.0.0.1:9200
    es_index_name: ongr
    es_number_of_shards: 2
    es_number_of_replicas: 0
    es_refresh_interval: -1
