// Vendor
@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

// Utils
@import "utils/mixins";
@import "utils/scroll-top";

// Common
@import "common/header";
@import "common/topbar";
@import "common/footer";
@import "common/navbar";
@import "common/minicart";
@import "common/breadcrumb";
@import "common/filters";
@import "common/sorting";

// Pages
@import "pages/home";
@import "pages/category";
@import "pages/product";
@import "pages/list";
@import "pages/content";

$body_background: #f9f9f9;

body {
  background: $body_background;
}

a, button {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
